/* Soluzione qui */

@media (min-width:768px) {
  #topbar {
    justify-content: left;
  }
  .container {
    padding: 32px 0;
  }
  .recipe-origin {
    display: inline;
  }
  .recipe-name {
    font-size:2rem;
  }

  .ads {
    display:block;
  }
}